body {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.header {
  display: flex;
  padding-top: 88px;
}
.list-nav {
  display: flex;
  list-style: none;
}
.list-nav li a {
  text-decoration: none;
  padding-left: 45px;
}
.main {
  display: flex;
  flex-wrap: wrap;
}
.main_text {
  width: 50%;
}
.main_tagline {
  font-size: 73px;
  letter-spacing: 1px;
  color: #314584;
}
.main_description {
  max-width: 531px;
  color: #6e757a;
  font-weight: 400;
  padding-bottom: 42px;
}
.img_svg {
  width: 50%;
}

.buttons_more {
  width: 200px;
  height: 55px;
  border-radius: 25px;
  filter: drop-shadow(0px 5px 5px rgba(255, 57, 70, 0.15));
  background-color: #ff3946;
  color: #ffffff;
  outline: none;
}
.buttons_get {
  width: 200px;
  height: 55px;
  border-radius: 25px;
  color: #314584;
  background-color: #fff;
  border: none;
}
.portfolio_title {
  font-size: 48px;
  color: #314584;
  margin-left: 15px;
}
.portfolio_block {
  display: flex;
  flex-wrap: wrap;
}
.portfolio_block div {
  background-color: #c3d0d8;
  width: 372px;
  height: 280px;
  margin: 10px auto;
}
.portfolio_more {
  color: #ff3946;
  text-align: center;
}
.contact {
  padding-top: 270px;
  padding-bottom: 60px;
}
.contact_name {
  color: #ff3946;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.contact_title {
  font-size: 48px;
  color: #314584;
  padding-bottom: 58px;
}
form {
  text-align: center;
}
::placeholder {
  color: #314584;
}
input[type="email"] {
  width: 46%;
  padding: 12px 20px;
  margin: 0 35px 35px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f4fafe;
  border: none;
}
input[type="text"] {
  width: 50%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f4fafe;
  border: none;
}
textarea {
  padding: 12px 20px;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  background-color: #f4fafe;
  border: none;
  resize: none;
}
.form_send {
  color: white;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 55px;
  border-radius: 25px;
  filter: drop-shadow(0px 5px 5px rgba(255, 57, 70, 0.15));
  background-color: #ff3946;
  margin-top: 65px;
}
.form_send:hover {
  background-color: #45a049;
}

footer {
  background-color: #314584;
  padding-top: 70px;
  padding-bottom: 50px;
  text-align: center;
  margin: 0 auto;
}
.footer_name {
  color: #ffffff;
}
.footer_tagline {
  font-size: 48px;
  color: #ff3946;
}
.footer_license {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
}
.footer_social i {
  font-size: 30px;
  color: #ffffff;
  padding: 20px;
}

.footer_menu {
  display: flex;
  list-style: none;
  color: white;
  justify-content: center;
  padding-top: 47px;
  padding-bottom: 58px;
  margin: 0;
}

footer .menu_item {
  margin-left: 40px;
}

footer .menu_link {
  text-decoration: none;
  color: #ffffff;
}
