body {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.container {
  max-width: 720px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 1170px;
  }
}
.header {
  display: flex;
  padding-top: 88px;
}
.main-section{
  padding-top: 90px;
  padding-bottom: 90px;
}
.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main {
    flex-direction: row;
  }
}
.main_text {
  width: 50%;
  margin: 0 auto;
}
.main_tagline {
  font-size: 73px;
  letter-spacing: 1px;
  color: #314584;
}
.main_description {
  max-width: 531px;
  color: #6e757a;
  font-weight: 400;
  padding-bottom: 42px;
}
.img_svg {
  width: 50%;
  margin: 0 auto;
}

.buttons_more {
  width: 200px;
  height: 55px;
  border-radius: 25px;
  background-color: #ff3946;
  color: #ffffff;
  outline: none;
}
.buttons_get {
  width: 200px;
  height: 55px;
  border-radius: 25px;
  color: #314584;
  background-color: #fff;
  border: none;
}
.portfolio_title {
  font-size: 48px;
  color: #314584;
  margin-left: 15px;
  text-align: center;
}
@media (min-width: 768px) {
  .portfolio_title {
    text-align: start;
  }
}
.portfolio_block {
  display: flex;
  flex-wrap: wrap;
}
.portfolio_block div {
  background-color: #c3d0d8;
  width: 372px;
  height: 280px;
  margin: 10px auto;
}
.portfolio_more {
  color: #ff3946;
  text-align: center;
}
.contact {
  padding-top: 270px;
  padding-bottom: 60px;
}
.contact_name {
  color: #ff3946;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.contact_title {
  font-size: 48px;
  color: #314584;
  padding-bottom: 58px;
}
form {
  text-align: center;
}
::placeholder {
  color: #314584;
}
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 0 35px 35px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f4fafe;
  border: none;
}
@media (min-width: 768px) {
  input[type="email"] {
    width: 46%;
  }
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 35px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f4fafe;
  border: none;
}
@media (min-width: 768px) {
  input[type="text"] {
    width: 50%;
  }
}
textarea {
  padding: 12px 20px;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  background-color: #f4fafe;
  border: none;
  resize: none;
}
.form_send {
  color: white;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 55px;
  border-radius: 25px;
  background-color: #ff3946;
  margin-top: 65px;
}
.form_send:hover {
  background-color: #45a049;
}

footer {
  background-color: #314584;
  padding-top: 70px;
  padding-bottom: 50px;
  text-align: center;
  margin: 0 auto;
}
.footer_name {
  color: #ffffff;
}
.footer_tagline {
  font-size: 48px;
  color: #ff3946;
}
.footer_license {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
}
.footer_social i {
  font-size: 30px;
  color: #ffffff;
  padding: 20px;
}

.footer_menu {
  display: flex;
  list-style: none;
  color: white;
  justify-content: center;
  padding-top: 47px;
  padding-bottom: 58px;
  margin: 0;
}

footer .menu_item {
  margin-left: 40px;
}

footer .menu_link {
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #cfd8dc;
}

/* regular - menu  */

.regular-menu {
  display: none;
}

@media (min-width: 768px) {
  .regular-menu {
    display: block;
  }
}



.logo {
  display: flex;
}
.img-logo {
  margin: auto;
}
.list-nav {
  display: flex;
  list-style: none;
}
.list-nav li a {
  text-decoration: none;
  padding-left: 45px;
}
